
@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 22px;
font-style: normal;
margin-left: 0px;
}

.flaticon-sending:before { content: "\f100"; }
.flaticon-left-arrow:before { content: "\f101"; }
.flaticon-right-arrow:before { content: "\f102"; }


/*CATE*/

.owl-carousel, .owl-carousel .owl-item {
	-webkit-tap-highlight-color: transparent;
	position: relative;
	transition:all 0.5s ease
}

.owl-carousel {
	display: none;
	width: 100%;
	z-index: 1;
	position:relative
}

.owl-carousel .owl-stage {
	position: relative;
	-ms-touch-action: pan-Y;
	-moz-backface-visibility: hidden
}
.owl-carousel .owl-stage:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0
}
.owl-carousel .owl-stage-outer {
	position: relative;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item, .owl-carousel .owl-wrapper {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0)
}
.owl-carousel .owl-item {
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-touch-callout: none
}
.owl-carousel .owl-item img {
	display: inline-block;
	max-width: 100%
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: none
}
.no-js .owl-carousel, .owl-carousel.owl-loaded {
	display: block
}
.owl-carousel .owl-dot, .owl-carousel .owl-nav .owl-next, .owl-carousel .owl-nav .owl-prev {
	cursor: pointer;
	cursor: hand;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.owl-carousel.owl-loading {
	opacity: 0;
	display: block
}
.owl-carousel.owl-hidden {
	opacity: 0
}
.owl-carousel.owl-refresh .owl-item {
	visibility: hidden
}
.owl-carousel.owl-drag .owl-item {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}
.owl-carousel.owl-grab {
	cursor: move;
	cursor: grab
}
.owl-carousel.owl-rtl {
	direction: rtl
}
.owl-carousel.owl-rtl .owl-item {
	float: right
}
.owl-carousel .animated {
	animation-duration: 1s;
	animation-fill-mode: both
}
.owl-carousel .owl-animated-in {
	z-index: 0
}
.owl-carousel .owl-animated-out {
	z-index: 1
}
.owl-carousel .fadeOut {
	animation-name: fadeOut
}
@keyframes fadeOut {
0% {
opacity:1
}
100% {
opacity:0
}
}
.owl-height {
	transition: height .5s ease-in-out
}
.owl-carousel .owl-item .owl-lazy {
	opacity: 0;
	transition: opacity .4s ease
}
.owl-carousel .owl-item img.owl-lazy {
	transform-style: preserve-3d
}
.owl-carousel .owl-video-wrapper {
	position: relative;
	height: 100%;
	background: #000
}
.owl-carousel .owl-video-play-icon {
	position: absolute;
	height: 80px;
	width: 80px;
	left: 50%;
	top: 50%;
	margin-left: -40px;
	margin-top: -40px;
	background: url(owl.video.play.png) no-repeat;
	cursor: pointer;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	transition: transform .1s ease
}
.owl-carousel .owl-video-play-icon:hover {
	-ms-transform: scale(1.3, 1.3);
	transform: scale(1.3, 1.3)
}
.owl-carousel .owl-video-playing .owl-video-play-icon, .owl-carousel .owl-video-playing .owl-video-tn {
	display: none
}
.owl-carousel .owl-video-tn {
	opacity: 0;
	height: 100%;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: opacity .4s ease
}
.owl-carousel .owl-video-frame {
	position: relative;
	z-index: 1;
	height: 100%;
	width: 100%
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
	text-align: center;
	-webkit-tap-highlight-color: transparent
}
.owl-theme .owl-nav {
	margin-top: 10px;
}
.owl-next{right:-70px}
.owl-prev{left:-70px}
.owl-theme .owl-nav [class*=owl-] {
	color: #b3ada8;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
	border-radius: 100%;
	transition:all 0.5s ease;
	position:absolute;
	top:140px; width:43px; height:43px; border-radius:100%; border:1px solid #b3ada8; text-align:center; line-height:43px
}
.owl-theme .owl-nav [class*=owl-]:hover {
	color: #fff;
	text-decoration: none; background:#f0ad48; border-color:#f0ad48
}
.owl-theme .owl-nav .disabled {
	opacity: .5;
	cursor: default
}
.owl-theme .owl-nav.disabled+.owl-dots {
	margin-top: 10px
}
.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	zoom: 1
}
.owl-theme .owl-dots .owl-dot span {
	width: 7px;
	height: 7px;
	margin: 5px 3px;
	background: #818285;
	display: block;
	-webkit-backface-visibility: visible;
	transition: opacity .2s ease;
	border-radius: 30px;
	transition:all 0.5s ease
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background: #c0c1c3; 
}


/*CATE*/

/*ACCORDION*/
.collapse-container{text-align:left}
.arrow-r {
	width: 14px;
	height: 2px;
	margin-bottom: 6px;
	margin-right: 5px;
	display: inline-block;
	position:absolute; right:10px; top:19px; background:#444
}
.arrow-r:before{position:absolute; left:6px; top:-6px; content:""; width:2px; height:14px; background:#444}

.arrow-d {
	width: 14px;
	height: 2px;
	margin-bottom: 6px;
	margin-right: 5px;
	display: inline-block;
	position:absolute; right:10px; top:19px; background:#444
}

.collapse-container>:nth-child(odd) {
	padding: 15px 20px;
    background-color: #ffffff;
    border: 2px solid #e7e7e7;
    margin: auto;
	border-width:1px 2px 2px
}
.collapse-container h3{position:relative; font-size:15px; font-weight:500; text-transform:uppercase; color:#000}
.collapse-container>:nth-child(even) {
	background-color: white;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 2px solid #f4f4f4;
	margin-bottom:25px;
	border-width:3px 2px 2px;
	border-top-color:#f9f9f9
}
.collapse-container>:nth-child(even) p {
    padding: 0px 5px;
}

.collapse-container>:nth-child(odd):hover {
	cursor: pointer;
	-moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit browsers */
}

/*ACCORDION*/

/*CHECKBOX*/


.filt {
  margin: 20px 22px 10px;
}

.filt__item {
  margin: 0 0 .5rem 0;
  padding: 0;
}

.label--checkbox{
    position: relative;
    margin: 0 0 13px;
    cursor: pointer;
    color: #333;
    font-weight: 400;
    font-size: 15px;}

/*.checkbox {
  position: relative;
  top: 2px;
  margin: 0 15px 0 0 !important;
  cursor: pointer;
  display:inline-block
}
.checkbox:before {
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -moz-transition: -moz-transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
  -webkit-transform: rotate(-45deg) scale(0, 0);
  -moz-transform: rotate(-45deg) scale(0, 0);
  -ms-transform: rotate(-45deg) scale(0, 0);
  -o-transform: rotate(-45deg) scale(0, 0);
  transform: rotate(-45deg) scale(0, 0);
content: "";
    position: absolute;
    left: 1px;
    top: 2px;
    z-index: 1;
    width: 9px;
    height: 9px;
    background: #ff7200;
    border-radius: 100%;
}
.checkbox:checked:before {
  -webkit-transform: rotate(-45deg) scale(1, 1);
  -moz-transform: rotate(-45deg) scale(1, 1);
  -ms-transform: rotate(-45deg) scale(1, 1);
  -o-transform: rotate(-45deg) scale(1, 1);
  transform: rotate(-45deg) scale(1, 1);
}
.checkbox:after {
	content: "";
	position: absolute;
	top: -1px;
	left: -2px;
	width: 15px;
	height: 15px;
	background: #fff;
	border: 1px solid #999999;
	cursor: pointer;
	border-radius: 100%;
}
*/

.checkbox:active:after {
  border-radius: 100%;
  margin: -10px;
  width: 17px;
  height: 17px;
  padding: 8px;
  box-shadow: 0 0 0 12px #fff;
  content: '';
  display: inline-block;
}

.checkbox:after, .checkbox:active:after:after {
  border-radius: 2px;
  width: 9px;
  height: 9px;
  padding: 2px;
  box-shadow: 0 0 0 2px #EEE;
  content: '';
  display: inline-block;
}

.checkbox {
  margin: 30px;
	background: #EEE;
	box-shadow: 0 0 0 0 #203139 inset, 0 0 0 1px #666666 inset, 0 0 0 8px #fff inset, 0 0 0 0 #ddd inset, 0 0 0 0 #ddd;
	padding: 5px;
	border-radius: 2px;
  display: block;
  transition: all .2s;
  zoom: 2;
  float: left;
  margin: 0 5px 0 0 !important;
  width:10px; height:10px
}

.checkbox:active {
	background: #203139;
	box-shadow: 0 0 0 0 #203139 inset, 0 0 0 2px #666666 inset, 0 0 0 0 #EEE inset, 0 0 0 8px #ddd inset, 0 0 0 12px #ddd;
}

.checkbox:checked:active {
	background: #203139;
	box-shadow: 0 0 0 8px #203139 inset, 0 0 0 0 #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 12px #ddd inset, 0 0 0 8px #D6E5E4;
}

.checkbox:checked {
	background: #203139;
	box-shadow: 0 0 0 8px #203139 inset, 0 0 0 0 #666666 inset, 0 0 0 8px #EEE inset, 0 0 0 0 #ddd inset, 0 0 0 0 #ddd;
  content: url(../images/tick.png)
}
/*CHECKBOX*/


/*PRODUCT_SLIDER*/

.lSSlideOuter {
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}
.lightSlider:before, .lightSlider:after {
    content: " ";
    display: table;
}
.lightSlider {
    overflow: hidden;
    margin: 0;
}
.lSSlideWrapper {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.lSSlideWrapper > .lightSlider:after {
    clear: both;
}
.lSSlideWrapper .lSSlide {
    -webkit-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    -webkit-transition: all 1s;
    -webkit-transition-property: -webkit-transform,height;
    -moz-transition-property: -moz-transform,height;
    transition-property: transform,height;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade {
    position: relative;
}
.lSSlideWrapper .lSFade > * {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 9;
    margin-right: 0;
    width: 100%;
}
.lSSlideWrapper.usingCss .lSFade > * {
    opacity: 0;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    -webkit-transition-duration: inherit !important;
    transition-duration: inherit !important;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: inherit !important;
    transition-timing-function: inherit !important;
}
.lSSlideWrapper .lSFade > *.active {
    z-index: 10;
}
.lSSlideWrapper.usingCss .lSFade > *.active {
    opacity: 1;
}
.lSSlideOuter .lSPager.lSGallery {
    list-style: none outside none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    transform: translate3d(0px, 0px, 0px);
    -moz-transform: translate3d(0px, 0px, 0px);
    -ms-transform: translate3d(0px, 0px, 0px);
    -webkit-transform: translate3d(0px, 0px, 0px);
    -o-transform: translate3d(0px, 0px, 0px);
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.lSSlideOuter .lSPager.lSGallery li {
    overflow: hidden;
    -webkit-transition: border-radius 0.12s linear 0s 0.35s linear 0s;
    transition: border-radius 0.12s linear 0s 0.35s linear 0s;
	border: 1px solid #dedede;
    height: auto !important;
    padding: 10px;
	margin-bottom:30px !important
}
.lSSlideOuter .lSPager.lSGallery li.active, .lSSlideOuter .lSPager.lSGallery li:hover {
    border-radius: 3px;
}
.lSSlideOuter .lSPager.lSGallery img {
    display: block;
    height: auto;
    max-width: 100%;
}
.lSSlideOuter .lSPager.lSGallery:before, .lSSlideOuter .lSPager.lSGallery:after {
    content: " ";
    display: table;
}
.lSSlideOuter .lSPager.lSGallery:after {
    clear: both;
}
.lSSlideOuter.vertical {
    position: relative;
	padding-left:90px; padding-right:0 !important 
}
.lSSlideOuter.vertical.noPager {
    padding-right: 0px !important;
}
.lSSlideOuter.vertical .lSGallery {
    position: absolute !important;
    left: 0;
    top: 0;
}
.lSSlideOuter.vertical .lightSlider > * {
    width: 100% !important;
    max-width: none !important;
}
.lSSlideOuter.vertical .lSAction > a {
    left: 50%;
    margin-left: -14px;
    margin-top: 0;
}
.lSSlideOuter.vertical .lSAction > .lSNext {
    background-position: 31px -31px;
    bottom: 10px;
    top: auto;
}
.lSSlideOuter.vertical .lSAction > .lSPrev {
    background-position: 0 -31px;
    bottom: auto;
    top: 10px;
}
.lSSlideOuter.lSrtl {
    direction: ltr;
}
.lSSlideOuter .lightSlider, .lSSlideOuter .lSPager {
    padding-left: 0;
    list-style: none outside none;
}
.lSSlideOuter.lSrtl .lightSlider, .lSSlideOuter.lSrtl .lSPager {
    padding-right: 0;
}
.lSSlideOuter .lightSlider > *,  .lSSlideOuter .lSGallery li {
    float: left; text-align:center
}
.lSSlideOuter.lSrtl .lightSlider > *,  .lSSlideOuter.lSrtl .lSGallery li {
    float: right !important;
}
@-webkit-keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@keyframes rightEnd {
    0% {
        left: 0;
    }

    50% {
        left: -15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@keyframes topEnd {
    0% {
        top: 0;
    }

    50% {
        top: -15px;
    }

    100% {
        top: 0;
    }
}
@-webkit-keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@keyframes leftEnd {
    0% {
        left: 0;
    }

    50% {
        left: 15px;
    }

    100% {
        left: 0;
    }
}
@-webkit-keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
@keyframes bottomEnd {
    0% {
        bottom: 0;
    }

    50% {
        bottom: -15px;
    }

    100% {
        bottom: 0;
    }
}
.lSSlideOuter .rightEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lSSlideOuter .leftEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .rightEnd {
    -webkit-animation: topEnd 0.3s;
    animation: topEnd 0.3s;
    position: relative;
}
.lSSlideOuter.vertical .leftEnd {
    -webkit-animation: bottomEnd 0.3s;
    animation: bottomEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .rightEnd {
    -webkit-animation: leftEnd 0.3s;
    animation: leftEnd 0.3s;
    position: relative;
}
.lSSlideOuter.lSrtl .leftEnd {
    -webkit-animation: rightEnd 0.3s;
    animation: rightEnd 0.3s;
    position: relative;
}
.lightSlider.lsGrab > * {
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.lightSlider.lsGrabbing > * {
  cursor: move;
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: -o-grabbing;
  cursor: -ms-grabbing;
  cursor: grabbing;
}
.detail{padding:50px 0; border-top: 2px solid #d9d3cd;}
.detail .item{transform:skew(0deg); padding:20px;}
.detail h2{color:#000; font-size:24px; text-transform:uppercase; margin:0 0 13px; font-weight:500}
.detail h5{color:#000; margin:10px 0 20px; font-size:14px; font-weight:400}
.prc{color:#000; font-size:24px; font-weight:600}
.prc span{font-size:14px; font-weight:300; text-transform:uppercase}
.abf{padding:50px 0 20px; display:inline-block}
.abf a, .ccs a, .butn{color:#000; font-size:15px; text-transform:uppercase; padding:15px 25px; border:1px solid #020202; transition:all 0.5s ease; margin-right:20px; float:left; text-align:center; font-weight:400}
.abf a:hover, .ccs a:hover, .butn:hover{background:#203139; border-color:#203139; color:#fff}
.shr ul li{display:inline-block; margin-right:5px; text-transform:uppercase; font-size:18px; color:#000}
.shr ul li:first-child{margin-right:25px}
.shr ul li a{display:block; width:30px; height:30px; border-radius:100%; border:2px solid #737373; text-align:center; color:#737373; line-height:27px; transition:all 0.5s ease; font-size:14px}
.shr ul li a:hover{color:#203139; border-color:#203139}

/*PRODUCT_SLIDER*/

/*RESPONSIBILITY_TAB*/

.responsive-tabs {text-align:center; position:relative}

.responsive-tabs dt {
	padding: 13px 0;
	cursor: pointer;
	color: #000;
	font-size:15px;
	z-index: 1;
	position:relative;
	background: #ffffff; 
	text-transform: uppercase;
    font-weight: 400;
}
.responsive-tabs:last-child dt {border-right:none}
.responsive-tabs .active {
	background: #f6f5f3; 
	color:#000;
	position:relative
}

.responsive-tabs .active + dd {
	display: block;
}
.responsive-tabs dd {
	display: none;
	padding: 0.5em;
}
.responsive-tabs-placeholder h4, .responsive-tabs h4{color:#424242; font-size:18px; margin:0 0 15px; line-height:25px; position:relative; padding-bottom:15px; text-align:left}
.responsive-tabs-placeholder h4:before, .responsive-tabs h4:before{position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100px;
    height: 1px;
    background: #2c333a;}
.responsive-tabs-placeholder p{line-height:21px; color:#666;     font-weight: 300;}
.responsive-tabs-placeholder ul li{width:33%; float:left; font-weight:300; color:#000; position:relative; margin:20px 0 10px; position:relative; padding-left:35px}
.responsive-tabs-placeholder ul li img{position:absolute; left:0; top:-3px;}
.responsive-tabs-placeholder {
	display: none;
}
@media only screen and (min-width: 768px) {
dt {width: 30%;}
.responsive-tabs {}
.responsive-tabs dt {float: left; border-top: 0; margin-top: 1px;}
.responsive-tabs .active + dd {display: none;}
.responsive-tabs-placeholder {
	clear: both;
	display: block;
	padding: 10px 0 40px;
	float: left;
    width: 100%;
}
.train .responsive-tabs-placeholder{padding:0;     background: #ededee;}
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.pih{width:100%}

/*RESPONSIBILITY_TAB*/

*VERTICAL_TAB*/

.tabs {
  position: relative;
  min-height: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.tabs .tab {
  margin-bottom: -1px;
}
@media screen and (min-width: 55rem) {
  .tabs .tab {
    float: left;
    clear: left;
    width: 20%;
  }
}
.tabs .tab .tab-toggle {
	padding:28px;
	position: relative;
	outline: none;
	width: 100%;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 500;
	border: 2px solid #f2f2f2;
}
@media screen and (min-width: 55rem) {
  .tabs .tab .tab-toggle {
    text-align: left;
  }
}
.tabs .tab .tab-toggle.active {
  color: #404040;
  cursor: pointer;
  text-transform:uppercase;
  position:relative
}
.tabs .tab .tab-toggle.active:before{position:absolute; right:-2px; top:0; width:2px; height:100%; content:""; background:#203139}
.tabs .tab .tab-toggle.active:after{position:absolute; right:0px; top:50%; content:""; width: 0; height: 0; border-top: 14px solid transparent; border-right: 12px solid #203139; border-bottom: 14px solid transparent; margin-top:-16px}

.tabs .content {
  max-height: 0;
  overflow: hidden;
  padding: 0 2rem;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}
@media screen and (min-width: 55rem) {
  .tabs .content {
    max-height: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 80%;
    opacity: 0;
    padding: 0px 0 45px 33px;
    transform: translateX(0);
  }
}
.tabs .content.active {
  max-height: 3000px;
}
@media screen and (min-width: 55rem) {
  .tabs .content.active {
    max-height: none;
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
	    z-index: 1;
  }
}
.tabs .content h3 { font-size: 23px; font-weight:300; color:#383838; margin-bottom: 23px; margin-top:0; text-transform:uppercase;}
.tab-toggle{ border:none; font-weight:700; font-size:14px; color:#412d2b}

.account{overflow:hidden; padding:1px 0}

.ad .form-control{background:#f1efef; border:none; border-radius:0; height:47px; box-shadow:none}
.ad label{font-weight:400; font-size:15px}
.ad{border-bottom:3px solid #f2f2f2; padding:15px 0}
.ad:last-child{border-bottom:0}
.ab{box-shadow:0px 0px 10px rgba(24, 24, 25, 0.2); width:99%}
.ab h4{padding:15px 30px; border-bottom:2px solid #f2f2f2}
.ab p{padding:15px 30px; line-height:18px; margin-bottom:0 !important}
.account .log{width:auto; padding:10px 50px 8px ;float:right}


/*VERTICAL_TAB*/


/*SIZE*/

.radio-tile-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}
.radio-tile-group .input-container {
  position: relative;
  height: 35px;
  width: 35px;
  margin: 5px 5px 25px;
}
.radio-tile-group .input-container .radio-button {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.radio-tile-group .input-container .radio-tile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
          justify-content: flex-end;
  width: 100%;
  height: 100%;
  border: 2px solid #203139;
  border-radius: 0px;
  padding: 0;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}
.radio-tile-group .input-container .icon svg {
  fill: #079ad9;
  width: 3rem;
  height: 3rem;
}
.radio-tile-group .input-container .radio-tile-label {
  text-align: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #333;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile {
  background-color: #203139;
  border: 2px solid #203139;
  color: white;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .icon svg {
  fill: white;
  background-color: #079ad9;
}
.radio-tile-group .input-container .radio-button:checked + .radio-tile .radio-tile-label {
  color: white;
  background-color: #203139;
}

/*SIZE*/

/*ACCORDION*/
.sd .transition, .sd p, .sd ul li i:before,.sd  ul li i:after {
  transition: all 0.25s ease-in-out;
}

.sd .flipIn, .sd h1, .sd ul li {
  animation: flipdown 0.5s ease both;
}
.sd ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.sd ul li {
  position: relative;
  padding: 5px 25px;
  margin: 0;
  border: 1px solid #f2f2f2;
}
.sd ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.sd ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.sd ul li:nth-of-type(3) {
  animation-delay: 1s;
}

.sd ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 25px;
}
.sd ul li i:before, .sd ul li i:after {
  content: "";
  position: absolute;
  background-color: #203139;
  width: 3px;
  height: 9px;
}
.sd ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.sd ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.sd ul li input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}
.sd ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%); margin:0
}
.sd ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.sd ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}


.sd h2{font-size:18px; text-transform:uppercase; margin:15px 0; font-weight:400}
.sd{padding:50px 0 50px; margin: 15px 0}
.sd p {
  line-height: 24px;
  position: relative;
  overflow: hidden;
  max-height: 800px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

/*ACCORDION*/


/*CHECK_ACCORDION*/


.accordion {
  margin: 0 auto;
  border-radius: 5px;
}

.accordion-header,
.accordion-body {
  background: white;
}

.accordion-header {
  padding: 1.5em 1.5em;
  text-transform: uppercase;
  color: #333;
  cursor: pointer;
  transition: all .3s;border: 1px solid #ccc;
}

.accordion-header:hover {
  position: relative;
  z-index: 5;
}

.accordion-body {
  background: #fcfcfc;
  color: #3f3c3c;
  display: none;
}

.accordion-body__contents {
  padding: 1.5em 1.5em;
  border: 1px solid #ccc; margin-bottom: 15px
}

.accordion__item.active:last-child .accordion-header {
  border-radius: none;
}

.accordion:first-child > .accordion__item > .accordion-header {
 
}


.accordion__item.active .accordion-header {
  background: transparent;
}

.accordion__item .accordion__item .accordion-header {
  background: #f1f1f1;
  color: black;
}

@media screen and (max-width: 1000px) {
 
  .accordion {
    width: 100%;
  }
}

.chck-sec{padding: 50px 0 80px}
.gcolor{margin-bottom: 15px; color: #333; display: block}

/*CHECK_ACCORDION*/

/*CHECKBOX*/



label input[type="radio"] ~ i.fa.fa-circle-o{
    color: #c8c8c8;    display: inline;font-size: 18px;
    position: relative;
    top: 1px;
}
label input[type="radio"] ~ i.fa.fa-dot-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-circle-o{
    display: none;
}
label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o{
    color: #203139;    display: inline;font-size: 18px;
    position: relative;
    top: 1px;
}
label:hover input[type="radio"] ~ i.fa {
color: #203139;
}

label input[type="checkbox"] ~ i.fa.fa-square-o{
    color: #c8c8c8;    display: inline;
}
label input[type="checkbox"] ~ i.fa.fa-check-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-square-o{
    display: none;
}
label input[type="checkbox"]:checked ~ i.fa.fa-check-square-o{
    color: #203139;    display: inline;
}
label:hover input[type="checkbox"] ~ i.fa {
color: #203139;
}

div[data-toggle="buttons"] label.active{
    color: #203139;
}



div[data-toggle="buttons"] label:hover {
color: #203139;
}

div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
-webkit-box-shadow: none;
box-shadow: none;
}

/*CHECKBOX*/

.no-padding{padding:0}

footer{background:#e3e3e3; padding:80px 0 50px}
footer h4{color:#6f6f6f; font-weight:500; text-transform:uppercase; margin:0 0 20px; font-size:16px}
footer ul li a{line-height:24px; color:#797979; transition:all 0.5s ease}
footer ul li a:hover{padding-left:10px; color:#797979;}
footer h2{text-align:center; font-weight:300; font-size:26px; color:#6f6f6f; text-transform:uppercase; margin:0 0 20px}
footer h2 span{font-size:18px}
footer .form-control{width:70%; float:left; border-radius:0; border:none; height:50px; background:#f3f3f3; font-weight:600; font-size:10px; padding-left:25px; letter-spacing:1px}
.sub{text-transform:uppercase; border:none; height:50px; line-height:50px; text-align:center; width:30%; float:left; border-radius:0; background:#203139; color:#fff; font-weight:500}
footer form{ margin:0 auto}
.insta{padding:50px 0 80px}
.insta h2, .ja h2{text-transform:uppercase; font-size:24px; text-align:center; margin:0 0 20px; color:#0f0e0e; font-weight:400}
.insta ul li{width:20%; float:left; padding:0 5px}
.insta ul li img{max-width:100%}
.ja{padding:50px 0; text-align:center}
.ja h4, .clo-sec h4{color:#6f6f6f; font-size:16px; font-weight:400; margin:20px 0 0px;text-transform:uppercase;}
.ja p, .clo-sec p{color:#6f6f6f; font-size:17px; text-transform:uppercase; font-weight:500}
.ja figure, .clo-sec figure{width:100%; overflow:hidden; position:relative; height:265px}
.ja figure img, .clo-sec figure img{max-width: none;transition: all 0.5s ease;min-width: 100%;min-height: 100%;max-height: none;height: 265px;position: relative;width: auto; left:50%; top:50%; transform:translate(-50%,-50%)}
.ja figure, .ja figure img{height:300px}
.wc figure, .wc figure img{height:290px}
.ja .item:hover figure img, .clo-sec .col-md-3:hover figure img{transform:scale(1.2) translate(-40%,-40%)}
.ja figure figcaption, .clo-sec figure figcaption{position:absolute; left:0; top:0; width:100%; height:100%; text-align:center; background:rgba(231, 167, 72, 0.5); transition:all 0.5s ease; transform:scale(0)}
.ja figure figcaption a, .clo-sec figure figcaption a{background:rgba(231, 167, 72, 0.5); width:40px; height:40px; text-align:center; line-height:40px; color:#fff; font-size:18px; display:inline-block; margin:-20px 5px 0; top:50%; position:relative}
.ja figure figcaption a img, .clo-sec figure figcaption a img{max-width: 100%; min-width: inherit; min-height: inherit; height: auto; transform: translate(0, 0) !important;  left: 0; top: 0;}
.ja .item:hover figure figcaption, .clo-sec .col-md-3:hover figure figcaption{transform:scale(1)}
.tp-rgt{position:absolute; top:0px; right:0; font-size:12px}
.tp-rgt a{color:#fff}
.tp-rgt img{margin:-3px 5px 0px 0}
.fc{padding:50px 0}
.fc h2{text-align:center; font-weight:400; font-size:24px; color:#6f6f6f; text-transform:uppercase; margin:0 0 20px}
.fc h2 span{font-size:18px; font-weight:300}
.fc figure{margin-bottom:20px; position:relative}
.fc figure:before{position:absolute; right:20px; top:20px; width:0px; height:22px; background:url(../images/arw.png) no-repeat; content:""; -webkit-animation: scroll .35s ease-in alternate infinite; animation: scroll .35s ease-in alternate infinite; transition:all 0.5s ease}
.fc figure:hover:before{width:27px}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}
.rgt-sec{position:absolute; right:0; top:30px; display:inline-block}
.cart{display:inline-block; margin-right:20px}
.ls{display:inline-block; }
.ls ul li{display:inline-block}
.ls ul li a{text-transform:uppercase; color:#333; font-size:11px; padding:0 10px; font-weight:500}
.ls ul li a img{margin-right:5px}
.sear .form-control{position:relative; border-width:0 0 1px; border-radius:0; box-shadow:none; margin-bottom:15px; padding-left:40px}
.sear .ser{background:none; border:none; position:absolute; left:5px; top:5px}
.abt-tp{padding:15px 0 45px; text-align:center}
.abt-tp h2{display:inline-block; padding:10px 30px 11px; text-transform:uppercase; background:#203139; color:#fff; font-size:22px; font-weight:400; margin:0}
.clo-sec{text-align:center}
.clo-sec .col-md-9 .col-md-3, .clo-sec .col-md-3{margin-bottom:25px}
.clo-sec h4{font-size:15px; font-weight:500}
.clo-sec p{font-size:14px}
.clo-sec p span{text-decoration:line-through; text-decoration-color: #f1c262; margin-right:3px}
.clo-sec h5{color:#4c4845; font-size:14px; font-weight:400; margin:5px 0 10px}
.clo-sec{padding:0 0 30px}
.read-more-state {
  display: none;
}
.read-more-target {
  opacity: 0;
  max-height: 0;
  font-size: 0;
  transition: .5s ease;
}
.read-more-state:checked ~ .read-more-wrap .read-more-target {
  opacity: 1;
  font-size: 18px;
  max-height: 999em;
}
.read-more-state ~ .read-more-trigger:before {
  content: 'View all';
}
.read-more-state:checked ~ .read-more-trigger:before {
  content: 'See Less';
}
.read-more-trigger {
  cursor: pointer;
  display: block;
  padding: 0;
  font-size: 14px;
  font-weight:400; z-index:1; position:relative; color:#000; padding:18px 22px 15px; border-top:1px solid #e7e7e7; box-shadow:0px 3px 1px 1px #f4f4f4 inset;margin:0
}
.des{border:1px solid #203139; border-radius:3px; width:100%; padding:25px 15px; height:180px; line-height:130px; text-align:center}
.des img{max-width:100%}
.crt-img{width:28%; float:left; margin-right:15px}
.crt-sec{width:67%; float:left}
.crt-sec h4 {font-weight: 500;margin: 20px 0 5px;text-transform: uppercase;font-size: 15px;}
.crt-sec p {font-weight: 400;font-size: 12px;}
.crt-sec a{color:#333; font-weight:500; padding-right:20px; display:inline-block; text-transform:uppercase;font-size: 12px;}
.table-responsive h5 {font-weight: 400;margin: 0;font-size: 15px;}
.qun{padding:10px; display:inline-block;  width: 40%;text-align:center; }
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.tpr-lft{float:left; width:65%; padding:0px 10px 0px 0px; font-size:15px; text-transform: uppercase;}
.tpr-rgt{float:right; width:35%; text-align:right;  padding:0px 0px 0px 10px;  font-size:15px;}
.tpr-rgt span{font-weight:600}
.tpr{ border: 1px solid #ccc; margin-bottom:20px;    padding: 5px 12px;}
.tpr ul li{padding:10px 0}
.tpr h4{margin:0 0 10px; padding:15px 15px 10px; border-bottom:1px solid #ddd; color:#4c4845; text-transform:uppercase; font-weight:400; font-size:16px; text-align:center}
.tpr-last{padding:8px 0 !important; font-weight:600; border-top: 1px solid #ddd; margin-top: 10px;}
.ccs{border-top: 1px solid #ccc;padding: 25px 0;}
.ccs a:last-child {float:right; margin:0}
.login-sec{padding-bottom:50px}
.lgn{width:70%; margin:0 auto}
.rgn{width:40%; margin:0 auto; text-align:center}
.login{padding:20px 30px}
.login h3{font-weight:400; font-size:20px; margin:0 0 20px; text-transform:uppercase}
.login a{color:#333; margin-bottom:15px; display:block;}
.log{padding:10px; text-align:center; background:none; border:1px solid #203139; width:100%; text-transform:uppercase; font-weight:500; transition:all 0.5s ease}
.log:hover{background:#203139; color:#fff}
.re{text-align:center; padding:100px 70px; margin-bottom:20px; position:relative}
.re:before{position:absolute; left:0; top:0; content:""; width:1px; height:100%; background:#ccc; }
.ana {
    border: 2px solid #f2f2f2;
    padding: 15px 25px;
    width: 99%;
    margin-bottom: 40px;
}
.ana a {
    display: block;
    color: #333;
    font-size: 16px;
}
.rem {border-top: 2px solid #f2f2f2;}
.rem ul li {
    display: inline-block;
    border-right: 2px solid #f2f2f2;
    width: 49.8%;
}
.rem ul li a {
    display: block;
    padding: 15px;
    text-align: center;
    color: #333;
    font-weight: 400;
    font-size: 16px;
}
.pi ul li {
    display: inline-block;
    width: 45.8%;
    padding: 15px 0px 5px;
    border-bottom: 1px solid #f2f2f2;
    margin: 0 2%;
}
.pi ul li p {
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    line-height: 24px;
    padding: 0;
}
.pi ul li p span {
    display: block;
    font-size: 13px;
    color: #828282;
    font-weight: 400;
}
.privacy {
    padding: 20px 0;
    border-top: 1px solid #f2f2f2;
}
.privacy h4 {
    margin: 0 0 15px;
    text-transform: uppercase;
}
.privacy ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 5px;
}
.privacy ul li:before {
    position: absolute;
    left: 0;
    top: 6px;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: #828282;
}
.chk-rgt h4{font-weight: 400; margin: 15px 0}
.payment{padding: 10px 0 50px}
.pay{padding: 25px; background: #fbf9f9}
.pay h4{margin: 15px 0 ; font-weight: 400}
.pay p{line-height: 21px; font-weight: 400; margin-bottom: 15px}
.pay ul li{padding-left: 30px; line-height: 21px; font-weight: 400; margin-bottom: 8px; position: relative}
.pay ul li:before{position: absolute; left: 0; top: 2px; content: ""; width: 12px; height: 12px; border-radius: 100%; border: 2px solid #203139}
.er{padding: 10px 0 50px}
.cont form{margin: auto; width: 80%; padding: 35px; background: #f4f4f4; margin-bottom: 50px}
.butn{float: none; background: transparent; padding: 8px 35px}
.ftr-btm{padding: 14px 0 7px; background: #d4d3d3}
.ftr-lft{float: left; font-size: 13px; color: #6f6f6f;}
.ftr-rgt{float: right; font-size: 13px; color: #6f6f6f;}
.ftr-rgt a{color: #6f6f6f;}
.dropdown-menu li a {
    line-height: 21px;
    padding: 10px 0 10px 17px;
    position: relative;
    border-bottom: 1px solid #e0e0e0;
    transition: all 0.5s ease;
    display: block;
	color: #6f6f6f;
}


@media (min-width:993px) and (max-width:1024px){
	
	.owl-next{right: -30px}
	.owl-prev{left: -30px}
	.ja figure, .ja figure img{object-fit: contain}
}

@media (min-width:768px) and (max-width:992px){
	
	.fc figure{margin-bottom: 13px;}
	.ja figure, .ja figure img{object-fit: contain}
	nav.navbar.bootsnav ul.nav > li > a:hover:before{width: 100%; bottom: 0}
	.owl-next{right: -25px}
	.owl-prev{left: -25px}
	
}


@media (max-width:767px) {
	.owl-carousel .owl-item img, .wc figure, .wc figure img, .ja figure img, .clo-sec figure img{object-fit: contain}
	.owl-next{right: 0}
	.owl-prev{left: 0}
	.tp-rgt{position: relative; margin-top: 6px;}
	.page-header{text-align: center;}
	.page-header p{font-size: 11px;}
	.ftr-lft, .ftr-rgt{float: none; text-align: center}
	footer h2{text-align: left}
	footer h4{margin: 10px 0}
	footer{padding: 40px 0 50px;}
	.tp-bullets{bottom: -16% !important;}
	.tp-caption a{display: none}
	nav.navbar.bootsnav ul.nav > li > a:hover:before{width: 100%; bottom: 0}
	.dropdown-menu li a .col-md-6{padding: 0}
	.dropdown-menu h5{margin: 20px 0 5px}
	.rgt-sec{position: relative; top: 0; display: block}
	.sear{width: 40%; float: left}
	.sear .form-control{height: 36px}
	.cart{margin: 10px}
	.ls ul li a{    padding: 0px 7px;}
	.abf a, .ccs a, .butn{font-size: 14px;}
	.responsive-tabs{margin-bottom: 30px}
	.lightSlider.lsGrab > *{top: 5%;  position: relative;}
	.lSSlideOuter .lSGallery li{width: 20% !important; margin-right: 5%;}
	.lSSlideOuter.vertical .lightSlider > * img{max-width:100%}
	.lSSlideOuter.vertical .lSGallery{width:100% !important}
	.lSSlideOuter.vertical{padding: 0}
	.lSSlideWrapper{top: 120px}
	
}
